# Virtual environments
myenv/
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
__pycache__/*.pyc

# Build
dist/
build/

misc/

# Release
Teveclub.zip
Teveclub.7z
Teveclub.rar
Teveclub.exe

# Credentials 
credentials.json

# Django
*.sqlite3
db.sqlite3
*.log
staticfiles/
django/staticfiles/

# IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

*.spec